body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.category-container{
    border: 1px solid gray;
    margin: 20px;
}

.category-titles{
    border-bottom: 1px dashed gray;
    padding: 15px;
    margin: 20px;
}

.box{
    width: 100px;
    height: 100px;
    margin: 20px;
}

.color-container{
    border-right: 1px solid gray;
    display: inline-block;
    height: 100%;
    margin-bottom: 20px;
}

.color-descriptions{
    width: 500px;
    margin: 0;
    display: inline-block;
}


.color-descriptions li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-electric-vanilla{
    background-color: #FEFFDE;
}

.color-overcharged-mint{
    background-color: #DDFFBC;
}

.color-synthesized-grass{
    background-color: #91C788;
}

.color-sleepy-green-energy{
    background-color: #52734D;
}

p.color-text{
    margin: 15px 0;
    text-align: center;
    background-color: black;
}

.font-descriptions{
    margin: 30px 60px;
}

div.font-container{
    font-family: "Century Gothic", sans-serif;
}

.descriptions {
    margin: 20px;
}